// @font-face {
//   font-family: "XX";
//   src:
//     url("../fonts/XX.woff2") format("woff2"),
//     url("../fonts/XX.woff") format("woff");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/Garamond/CormorantGaramond-LightItalic.woff2") format("woff2"), url("../fonts/Garamond/CormorantGaramond-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/Garamond/CormorantGaramond-Light.woff2") format("woff2"), url("../fonts/Garamond/CormorantGaramond-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/Garamond/CormorantGaramond-BoldItalic.woff2") format("woff2"), url("../fonts/Garamond/CormorantGaramond-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/Garamond/CormorantGaramond-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Garamond/CormorantGaramond-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/Garamond/CormorantGaramond-Regular.woff2") format("woff2"), url("../fonts/Garamond/CormorantGaramond-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/Garamond/CormorantGaramond-SemiBold.woff2") format("woff2"), url("../fonts/Garamond/CormorantGaramond-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/Garamond/CormorantGaramond-MediumItalic.woff2") format("woff2"), url("../fonts/Garamond/CormorantGaramond-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/Garamond/CormorantGaramond-Medium.woff2") format("woff2"), url("../fonts/Garamond/CormorantGaramond-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/Garamond/CormorantGaramond-Italic.woff2") format("woff2"), url("../fonts/Garamond/CormorantGaramond-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/Garamond/CormorantGaramond-Bold.woff2") format("woff2"), url("../fonts/Garamond/CormorantGaramond-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

